/* header */
header {
  background-color: #447cab;
  opacity:0.8;
  height:400px;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}

nav ul li {
  list-style-type: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 1.1rem;
  margin-right: 20px;
}

nav ul li a {
  color:white;
  opacity:0.6;
}

nav ul li a:hover {
  text-decoration: none;
  color:white;
  opacity:1;
}

/* logo */
img {
  max-width:230px;
}

/* overlap design */
.overlapDesign {
  display: block;
    background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 98%;
    margin-top: -20px;
    max-width: 1258px;
}

/* landing page title  */
.landingPageTitle {
  color: white;
  text-align: center;
}

.landingPageTitle h1 {
  font-size:3rem;
  padding-bottom:5px;
}

.landingPageTitle p {
  font-weight:lighter;
  font-size:1.5rem;
}

/* page container  */
.pageContainer {
  width: 66vw;
  padding-left: 50px;
}

.pageContainer h2 {
  color: #4D4E4C;
}

.pageContainer  p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color:#7F8C92;
}

/* footer  */
/* our products  */
.categories {
  display: flex;
  flex-direction: column;
}

.categories a {
  transition: color .2s;
  background-color: transparent;
  border: 1px solid #E6E6E6;
  color: #ADB9C6;
  text-transform: none;
  font-size: 1.1em;
  font-weight: 300;
  position: relative;
  padding-left: 50px;
  width: 100%;
  max-width: 430px;
  text-align: left;
  line-height: 1.3em;
  margin-bottom: 11px;
  border-radius: 40px;
  padding: 16px;
}

.categories a:hover {
  background: white;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  text-decoration:none;
}

.categories h3 {
  color:#4D4E4C
}

.container {
  border-top: 1px solid #E6E6E6;
  padding-top: 85px;
}



